body {
    background-color: bisque;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

body h2 {
    align-self: center;
}
.hannibal{
    border-radius: 50px;
}
.interact-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.interact-content img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

.infantry,
.cavalry,
.archery {
    display: flex;
    flex-flow: column nowrap;
}